.upper {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    color: white;
    flex-direction: column;
}
/* .heading1 {
    order: 1;
}
.text1 {
    order: 2;
} */

span {
    font-weight: bold;
}

.menu ul { 
    display: flex;
    flex-direction: row;
    /* margin: 10px; */
    background-color: rgb(26, 23, 23);
    color: white;
    height: 50px;
    align-items: center;
    list-style-type: none;
    /* padding: 10px; */
    margin-block: 0px;
}

.menu li a {
    display: flex;
    flex-direction: row;
    margin: 10px;
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    flex-direction: row; 
    background-color:rgb(218, 217, 217);
    height: 326px;
    
}

.side {
    flex-grow: 1;
    background-color: rgb(191, 189, 189);
    padding: 15px;
;
}

.main {
    flex-grow: 3;
    background-color: rgb(239, 236, 236);
    padding: 15px;
   
}
.side-item {
    height: 175px;
    background-color: gray;
    margin-top: 10px;
    padding: 15px;
}

.main-item {
    height: 175px;
    background-color: gray;
    margin-top: 10px;
    padding: 15px;
}
