/* .menu-item {
    display: inline-block;
    padding: 10px 20px; 
    margin: 5px;
    background-color: gray;

}

.information {
    /* display: none; */
    /* visibility: hidden;
} */
.flex-container {
    display: flex;
    height: 300px;
    /* flex-direction: row;  default */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* justify-content: start; */
    justify-content: center;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    align-items: center;
    /* align-items: start; */
    /* flex-wrap: wrap; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap-reverse;*/
    margin: 10px;
    

}
.flex-item {
    width: 30px;
    height: 30px;
    background-color: aquamarine;
    margin: 3px;
}
.flex-item-1 {
    /* order: 3;
    flex-grow: 0; */
    flex-shrink: 4;
} 
.flex-item-2 {
    /* order: 1;
    flex-grow: 0; */
    flex-shrink: 1;
}
.flex-item-3 {
    /* order: 4;
    flex-grow: 1; */
    flex-shrink: 2;
} 
.flex-item-4 {
     /* order: 2;
    flex-grow: 1; */
    flex-shrink: 3;
}


.flex-item {
    /* width: 30px;
    height: 30px; */
    background-color: aquamarine;
    margin: 3px;
}



